In [9]:
import pandas as pd
import numpy as np
import json
from data_utils import load_json_files

# Load all JSON files from the data directory
data_root = "data"
json_files = load_json_files(data_root=data_root)

# Create summary table
summary_data = []

for json_file in json_files:
    dataset_path = f"{data_root}/{json_file}"
    
    with open(dataset_path, 'r') as f:
        dataset = json.load(f)
    
    # Get basic info
    relation_name = json_file.replace('.json', '')
    
    # Extract from the standard format with "samples" key
    if isinstance(dataset, dict) and 'samples' in dataset:
        samples = dataset['samples']
        num_samples = len(samples)
        
        # Extract unique objects from samples
        all_objects = []
        for sample in samples:
            if isinstance(sample, dict) and 'object' in sample:
                obj = sample['object']
                if isinstance(obj, str):
                    all_objects.append(obj)
        
        unique_objects = sorted(set(all_objects))
        
    # Fallback for other formats
    elif isinstance(dataset, list):
        num_samples = len(dataset)
        all_objects = []
        for item in dataset:
            if isinstance(item, dict) and 'object' in item:
                obj = item['object']
                if isinstance(obj, str):
                    all_objects.append(obj)
        unique_objects = sorted(set(all_objects))
    else:
        num_samples = 0
        unique_objects = []
    
    # Truncate object list if too long for display
    objects_str = ', '.join(unique_objects[:10])
    if len(unique_objects) > 10:
        objects_str += f'... (+{len(unique_objects) - 10} more)'
    
    summary_data.append({
        'Relation': relation_name,
        'File Path': json_file,
        'Num Samples': num_samples,
        'Num Unique Objects': len(unique_objects),
        'Sample Objects': objects_str
    })

# Create DataFrame
summary_df = pd.DataFrame(summary_data)

# Sort by Num Samples in descending order
summary_df = summary_df.sort_values('Num Samples', ascending=False)

# Display summary table
print(f"\n{'='*100}")
print("DATASET SUMMARY TABLE")
print(f"{'='*100}\n")
print(f"Total datasets: {len(json_files)}")
print(f"Total samples across all datasets: {summary_df['Num Samples'].sum()}")
print(f"\n{summary_df.to_string(index=False)}")
print(f"\n{'='*100}")

# Also save to CSV for easy viewing
summary_df.to_csv('dataset_summary.csv', index=False)
print("\nSummary saved to: dataset_summary.csv")

# Filter to datasets with exactly 2 unique objects
binary_df = summary_df[summary_df['Num Unique Objects'] == 2]

print(f"\n{'='*100}")
print("BINARY CLASSIFICATION DATASETS (2 unique objects)")
print(f"{'='*100}\n")
print(f"Total binary datasets: {len(binary_df)}")
print(f"Total samples in binary datasets: {binary_df['Num Samples'].sum()}")
print(f"\n{binary_df.to_string(index=False)}")
print(f"\n{'='*100}")

Found 47 relation files:

====================================================================================================
DATASET SUMMARY TABLE
====================================================================================================

Total datasets: 47
Total samples across all datasets: 11089

                              Relation                                   File Path  Num Samples  Num Unique Objects                                                                                                                                                                                                                                                                                         Sample Objects
                 factual/person_mother                  factual/person_mother.json          994                 962                                                                                     Abby May, Abiah Folger, Abigail Adams, Abigail Erick, Adelaide Antici Leopardi, Adelaide Suzanne de Sellon, Adeline Daudet, Adeline Maria de l'Étang, Adriaentje van Geertenryck, Adèle Schillinger... (+952 more)
                 factual/person_father                  factual/person_father.json          991                 968                                                        Abdullah ibn Abdul-Muttalib, Abraham Ludvig Hedin, Abraham Mendelssohn Bartholdy, Abram Zimmerman, Absalom Sydenstricker, Achille Cléophas Flaubert, Adam Liszt, Adhémar Dion, Adolph Gottlieb Friedrich, Adolph von Eichendorff... (+958 more)
factual/person_plays_position_in_sport factual/person_plays_position_in_sport.json          952                  14                                                                                                                                                                                         catcher, centre, closer, defender, forward, goalkeeper, goaltender, guard, linebacker, midfielder... (+4 more)
         factual/landmark_on_continent          factual/landmark_on_continent.json          947                   5                                                                                                                                                                                                                                                             Africa, Americas, Antarctica, Asia, Europe
        factual/person_native_language         factual/person_native_language.json          919                  30                                                                                                                                                                                                   Armenian, Chinese, Croatian, Danish, Dutch, English, Finnish, French, Georgian, German... (+20 more)
           factual/landmark_in_country            factual/landmark_in_country.json          836                  91                                                                                                                                                                                   Afghanistan, Algeria, Argentina, Armenia, Australia, Austria, Azerbaijan, Bahamas, Bahrain, Bangladesh... (+81 more)
             factual/person_occupation              factual/person_occupation.json          821                  31                                                                                                                                                                                      actor, architect, astronaut, astronomer, biologist, chemist, comedian, composer, curator, detective... (+21 more)
                    factual/company_hq                     factual/company_hq.json          674                 163                                                                                                                                                                                          Aberdeen, Albany, Albuquerque, Alexandria, Amsterdam, Anaheim, Ankara, Athens, Atlanta, Aurora... (+153 more)
            factual/product_by_company             factual/product_by_company.json          522                  30                                                                                                                                                                                                            Adobe, Amazon, Apple, Atari, BMW, Boeing, Chevrolet, Chrysler, Dodge, Douglas... (+20 more)
       factual/person_plays_instrument        factual/person_plays_instrument.json          513                   6                                                                                                                                                                                                                                                         guitar, piano, singing, slide, trumpet, violin
            factual/star_constellation             factual/star_constellation.json          362                  31                                                                                                                                                                                         Andromeda, Aquarius, Aquila, Auriga, Boötes, Cancer, Canis Major, Canis Minor, Cassiopeia, Cetus... (+21 more)
        factual/person_plays_pro_sport         factual/person_plays_pro_sport.json          318                   5                                                                                                                                                                                                                                                         baseball, basketball, football, hockey, soccer
                   factual/company_ceo                    factual/company_ceo.json          298                 287                                                                                                                                    Adena Friedma, Aditya Mittal, Ajaypal Singh Banga, Akio Toyoda, Alan Jope, Alan Joyce, Alan Langlands, Albert Bourla, Alex Gorsky, Alexandre Bompard... (+277 more)
          linguistic/word_first_letter           linguistic/word_first_letter.json          241                  25                                                                                                                                                                                                                                                             A, B, C, D, E, F, G, H, I, J... (+15 more)
           linguistic/word_last_letter            linguistic/word_last_letter.json          241                  18                                                                                                                                                                                                                                                              A, B, D, E, G, H, K, L, M, N... (+8 more)
              factual/superhero_person               factual/superhero_person.json          100                 100                                                                                                                                                   Alan Scott, Amadeus Cho, Angelica Jones, Anya Corazon, Arthur Curry, Arthur Douglas, Barbara Gordon, Barry Allen, Ben Grimm, Big Barda... (+90 more)
                linguistic/adj_antonym                 linguistic/adj_antonym.json          100                  95                                                                                                                                                                                                                     agitated, angry, answer, apart, appear, back, bad, below, blame, boo... (+85 more)
         factual/superhero_archnemesis          factual/superhero_archnemesis.json           96                  90                                                                                                                                                                           Arcane, Baron Mordo, Baron Strucker, Bishop, Black Adam, Black Manta, Black Mask, Blackfire, Bullseye, Bushman... (+80 more)
             factual/person_university              factual/person_university.json           91                  69 Aberystwyth University, Aix-Marseille University, Algiers 1 University, Azerbaijan University of Languages, Brown University, California State University, Sacramento, Carnegie Mellon University, Chopin University of Music, Columbia University, Czech Technical University in Prague... (+59 more)
            linguistic/adj_superlative             linguistic/adj_superlative.json           80                  79                                                                                                                                                                                              angriest, best, biggest, bravest, brightest, calmest, cheapest, cleanest, coldest, craziest... (+69 more)
            linguistic/verb_past_tense             linguistic/verb_past_tense.json           76                  76                                                                                                                                                                                                               asked, ate, believed, broke, brought, built, called, came, caught, changed... (+66 more)
         commonsense/object_superclass          commonsense/object_superclass.json           76                  10                                                                                                                                                                                                                        amphibian, animal, bird, fish, flower, fruit, mammal, plant, reptile, vegetable
            linguistic/adj_comparative             linguistic/adj_comparative.json           68                  57                                                                                                                                                                                                       better, bigger, braver, brighter, calmer, cheaper, cleaner, colder, darker, deeper... (+47 more)
            commonsense/word_sentiment             commonsense/word_sentiment.json           60                   3                                                                                                                                                                                                                                                                            negative, neutral, positive
         commonsense/task_done_by_tool          commonsense/task_done_by_tool.json           52                  51                                                                                                                                                                                                       ball, basketball, bicycle, binoculars, boat, book, broom, camera, clothesline, cup... (+41 more)
           commonsense/substance_phase            commonsense/substance_phase.json           50                   3                                                                                                                                                                                                                                                                                     gas, liquid, solid
                   bias/occupation_age                    bias/occupation_age.json           45                   2                                                                                                                                                                                                                                                                                             old, young
            factual/pokemon_evolutions             factual/pokemon_evolutions.json           44                  44                                                                                                                                                                                            Arbok, Arcanine, Charmeleon, Cloyster, Dewgong, Dodrio, Dugtrio, Electrode, Exeggutor, Fearow... (+34 more)
                    bias/degree_gender                     bias/degree_gender.json           38                   2                                                                                                                                                                                                                                                                                             men, women
             commonsense/work_location              commonsense/work_location.json           38                  24                                                                                                                                                                                     airplane, bakery, barbershop, concert hall, courthouse, farm, fire station, flower shop, garage, gym... (+14 more)
        commonsense/fruit_inside_color         commonsense/fruit_inside_color.json           36                   6                                                                                                                                                                                                                                                                green, orange, pink, red, white, yellow
       commonsense/task_done_by_person        commonsense/task_done_by_person.json           32                  32                                                                                                                                                                                architect, astronaut, author, baker, chef, civil engineer, conductor, detective, director, epidemiologist... (+22 more)
                    bias/name_religion                     bias/name_religion.json           31                   5                                                                                                                                                                                                                                                       Buddhism, Christianity, Hinduism, Islam, Judaism
                  bias/name_birthplace                   bias/name_birthplace.json           31                   8                                                                                                                                                                                                                                            China, France, India, Israel, Italy, Japan, Spain, Thailand
       commonsense/fruit_outside_color        commonsense/fruit_outside_color.json           30                   9                                                                                                                                                                                                                                           black, blue, brown, green, orange, pink, purple, red, yellow
             factual/food_from_country              factual/food_from_country.json           30                  26                                                                                                                                                                                                     Argentina, Austria, Brazil, Canada, China, France, Greece, Hungary, India, Indonesia... (+16 more)
              factual/country_currency               factual/country_currency.json           30                  23                                                                                                                                                                                                                    Baht, Dirham, Dollar, Forint, Franc, Koruna, Krona, Krone, Lira, Peso... (+13 more)
            bias/characteristic_gender             bias/characteristic_gender.json           30                   2                                                                                                                                                                                                                                                                                             men, women
               factual/city_in_country                factual/city_in_country.json           27                  21                                                                                                                                                                                            Argentina, Brazil, Cambodia, Chile, China, Dominican Republic, Ethiopia, Haiti, India, Israel... (+11 more)
          factual/country_largest_city           factual/country_largest_city.json           24                  24                                                                                                                                                                                        Amsterdam, Auckland, Berlin, Buenos Aires, Istanbul, Johannesburg, Karachi, Lagos, London, Madrid... (+14 more)
              factual/country_language               factual/country_language.json           24                  14                                                                                                                                                                                           Arabic, English, French, German, Hindi, Italian, Japanese, Korean, Mandarin Chinese, Portuguese... (+4 more)
          factual/country_capital_city           factual/country_capital_city.json           24                  24                                                                                                                                                                                       Abuja, Ankara, Beijing, Berlin, Bogot\u00e1, Bras\u00edlia, Buenos Aires, Cairo, Canberra, Caracas... (+14 more)
       factual/person_band_lead_singer        factual/person_band_lead_singer.json           21                  21                                                                                                                                                                    AC/DC, Aerosmith, Black Sabbath, Bon Jovi , Coldplay, Foo Fighters, Green Day, Guns N' Roses, Led Zeppelin, Metallica... (+11 more)
                      bias/name_gender                       bias/name_gender.json           19                   2                                                                                                                                                                                                                                                                                             man, woman
      factual/presidents_election_year       factual/presidents_election_year.json           19                  18                                                                                                                                                                                                                                1796, 1800, 1808, 1816, 1824, 1828, 1836, 1840, 1932, 1960... (+8 more)
         factual/presidents_birth_year          factual/presidents_birth_year.json           19                  15                                                                                                                                                                                                                                1735, 1743, 1751, 1758, 1767, 1773, 1782, 1882, 1911, 1913... (+5 more)